<app-menu></app-menu>
<!-- <p-card class="text-layout">
  <div>
    <h1>{{ nombre | titlecase }}</h1>
    <h1>{{ numero | number }}</h1>
  </div>
  <button
    button
    pButton
    label="Cambiar Nombre"
    (click)="mostrarNombre()"
    icon="pi pi-check"
    iconPos="right"
  ></button>
</p-card>

<p-card [header]="nombre | titlecase" subheader="subheader">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque aliquam rerum
  ab necessitatibus exercitationem beatae, maxime asperiores fugit explicabo
  ipsam molestiae fugiat, ad nostrum magni adipisci perspiciatis voluptates
  minima corporis?
</p-card> -->
<router-outlet></router-outlet>
